body{
    background-color: #F3F1FF;
}

.nav-link{
    margin-right: 20px;
}

.player img{
    width: 56px;
}

.blog img{
    width: 177px;
}

.player-name{
    padding-left: 20px;
}

main{
    max-width:870px;
    padding: 50px;
}

.top-player{
    background-color: #fff;
    padding: 50px;
}

.row-title{
    color:  #562EFF;
    padding-bottom: 20px;
}

.border{   
width: 990px;
border: 1px solid #D1D1D1;

}

.card-sec{
    margin-top: 20px;
}

.card {
    border: none;
    box-shadow: 5px 5px 20px lightgrey;
    padding: 20px;
    border-radius: 32px;
}

.card-footer{
    border: none;
    background-color: rgb(0 0 0 / 0%);
}

.card-footer img{
    width: 20px;
}

.review-align{
    margin-top: 15px;
    margin-left: 10px;
    color: lightgrey;
}

.time-align{
    margin-top: 15px;
    margin-left: 10px;
    color: #FF4A60;
    position: relative;
    left: -20px;
}

.clock-size img{
    width: 35%;
}

.pink-bg{
    background-color: #FFE4E8;
    border-radius: 30px;
}

.writer{
    font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #562EFF;;
}

.mentor{
    font-weight: 400;
    font-size: 14.6913px;
    line-height: 17px;
    color: #ED6B4F;
}